article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html{ margin:0; padding:0; font-family: 'Roboto', sans-serif; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; }

.container{
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
	@media(max-width: 480px){
		padding: 0 5px;
	}
}

$aBlue: rgb(0,108,183);
$aRed: rgb(238,54,62);

h1,h2,h3,h4,h5 {
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2{
	margin: 0 0 30px 0;
	font-size: 2.2rem;
	word-wrap: break-word;
}

h3{
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem
}

p {
	margin:15px 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

section {
	padding:30px 0;
}

header{
	height: 100vh;
	width:100%;
	@media (max-width: 500px){
		height: auto;
	}
}

nav{
	padding:20px 0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	background: white;
	z-index: 100;
	@media (max-width:500px){
		position: relative;
		top:0;
		left:0;
		right:0;
	}
	.container	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		// position: relative;
		@media (max-width: 500px){
			padding: 0 20px;
			flex-direction: column;
			justify-content: center;
		}
	}
	img{
		width:90px;
		height:90px;
		max-width:250px;
		@media (max-width: 500px){
			width: 100%;
			height:auto;
		}
	}
	a{
		text-decoration: none;
		color:black;
	}
	.contactNumCont {
		margin:0;
		position: absolute;
		left:50%;
		top:50%;
		text-align: center;
		transform: translate(-50%,-50%);
		@media (max-width:500px){
			margin:20px 0;
			position: relative;
			top:0;
			left:0;
			transform: translate(0,0);
		}
	}
}

.hamburg {
	position: relative;
}

.hamburger {
	width:30px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:0;
	border:none;
	background: transparent;
	position:relative;
	@media (max-width: 500px){
		// margin-top: 20px;
		display: inline-block;
	}
	div {
		border:solid 1px black;
		width:30px;
		margin:3px 0;
		border-radius: 50px;
	}
}

#hamItems {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100vh;
	width:100vw;
	z-index:10000;
}

#hamburgerItems {
	list-style: none;
	position: absolute;
	// top:30px;
	right:0;
	z-index:10001;
	@media (max-width: 500px){
		left:-160px;
		// top:50px;
	}
	@media (max-width: 360px){
		left:-85px;
	}
	li {
		padding:5px;
		border:1px solid rgb(230,230,230);
		background:white;
		cursor: pointer;
		width:350px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2rem;
		@media (max-width: 360px){
			width:200px;
		}
	}
	li:hover {
		background:rgb(240,240,240);
	}
	li a{
		text-decoration: none;
		color:black;
		width:116.16px;
	}
}

.hero {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: url('../../assets/tools.jpg');
	background-size: cover;
	text-align: center;
	h1{
		font-size: 3.6rem;
		color: white;
		text-shadow:0 5px 10px rgba(0,0,0,.5)
	}
	h2 {
		color:white;
		font-size: 1.6rem;
		text-shadow:0 5px 10px rgba(0,0,0,.5)
	}
	@media (max-width: 500px){
		display: none;
	}
}

.quoteO {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100vh;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.quote{
	background:white;
	padding:20px;
	width:650px;
	max-height: 85vh;
	height:auto;
	display: flex;
	flex-direction: column;
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	overflow-y:scroll;
	z-index: 1000;
	@media (max-width:680px){
		width:98%;
		max-height:98vh
	}
	h2{
		line-height: 2rem;
		margin:10px 0;
	}
	.close {
		position: absolute;
		top:2px;
		right:19px;
		font-size: 30px;
		cursor: pointer;
	}
	.close:hover{
		transform: scale(1.5);
	}
	.qI, form textarea {
		padding:5px;
		margin: 5px 0;
		width:100%;
		border: 1px solid rgb(191,191,191);
	}
	.formServices{
		display:flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.input {
		width:20%;
		@media (max-width: 680px){
			width:33.3%;
		}
		@media (max-width: 430px){
			width:50%;
		}
		@media (max-width: 300px){
			width:100%;
		}
	}
	p {
		display: block;
	}
	#other {
		width:60%;
		border: 1px solid rgb(191,191,191);
		padding: 0 5px;
		@media (max-width: 680px){
			width:66.6%;
		}
		@media (max-width: 430px){
			width:50%;
		}
		@media (max-width: 300px){
			width:100%;
			margin-top: 5px;
		}
	}
	textarea {
		resize:none;
		width:100%;
		height:160px;
	}
	button {
		padding:5px;
		border: 1px solid rgb(191,191,191);
		width:120px;
		background: none;
		// margin: 0 auto;
		height:auto;
	}
}

.freeQ{
	text-align: center;
	strong{
		font-size: 1.2rem;
	}
	p{
		margin: 0 0 5px 0;
		font-size: 1.6rem;
	}
}

.fQuote{
	padding:5px 10px;
	background: $aBlue;
	text-transform: uppercase;
	border: none;
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	color:white;
}

.fQuoteH {
	font-size: 2.4rem;
	box-shadow: none;
	padding:25px 35px;
}

.gBG{
	background: rgb(240,240,240);
}

.about{
	position: relative;
	.aboutP{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: url('../../assets/tool.jpg');
		background-size: cover;
		filter:grayscale(100%);
		opacity: 0.3;
		z-index: -1;
	}
	.aboutTitleN{
		@media (max-width: 500px){
			display: none;
		}
	}
	.aboutTitleR {
		display:none;
		@media (max-width: 500px){
			display: block;
		}
	}
	.aboutRP {
		font-size: 1.8rem;
		line-height: 1.8rem;
		// text-transform: uppercase;
		display:none;
		@media (max-width: 500px){
			display: block;
		}
	}
}

.aboutColumns{
	width:100%;
	display: flex;
	@media (max-width:720px){
		flex-direction: column;
		align-items: center;
	}
	.aboutC{
		width:33.33%;
		display: flex;
		flex-direction: column;
		padding:10px;
		margin:5px;
		text-align: center;
		align-items: center;
		background: rgba(0,108,183,0.8);
		color:white;
		border-radius: 5px;
		@media (max-width:720px){
			width:60%;
		}
		@media (max-width:550px){
			width:80%;
		}
		@media (max-width:400px){
			width:100%;
		}
	}
	p {
		margin:10px 0;
	}
	i {
		// width:20%;
		font-size: 2rem;
	}
	div{
		display: flex;
		flex-direction: column;
		width:80%;
	}
	.aboutTitle{
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 500;
	}
}

.services .container {
	.servicesGrid{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.service{
		position: relative;
		width:calc(33.33% - 10px);
		margin:5px;
		min-height: 250px;
		height:auto;
		z-index: 0;
		box-shadow: 0 10px 15px rgba(0,0,0,0.2);
		text-align: center;
		@media (max-width: 770px){
			width:calc(50% - 10px);
		}
		@media (max-width: 570px){
			width:calc(100% - 10px);
		}
		h3{
			position: relative;
			bottom:-180px;
			color:white;
			text-shadow: 0 5px 10px rgba(0,0,0,0.3);
		}
		.sO {
			position: absolute;
			width:100%;
			height: 100%;
			top:0;
			bottom:0;
			left:0;
			right:0;
			transition: all .5s ease-in-out;
			background: rgba(0,0,0,0.0);
			color:rgba(0,0,0,0);
			padding:5px;
			text-align: center;
			p{
				font-size: 1.2rem;
				line-height: 1.4rem;
			}
		}
		// .sO:hover {
		// 	background:rgba(0,0,0,0.7);
		// 	color:white;
		// }
		// .sO:active {
		// 	background:rgba(0,0,0,0.7);
		// 	color:white;
		// }
	}
	.service1{
		background: url('../../assets/alumSidingN.jpg');
		background-size: cover;
	}
	.service2{
		background: url('../../assets/window.jpg');
		background-size: cover;
	}
	.service3{
		background: url('../../assets/eavesN.jpg') 80%;
		background-size: cover;
	}
	.service4{
		background: url('../../assets/roofingN.jpg');
		background-size: cover;
	}
	.service5{
		background: url('../../assets/soffitN.jpg') 80%;
		background-size: cover;
	}
	.service6{
		background: url('../../assets/vinylN.jpg') 60%;
		background-size: cover;
	}
	.service7{
		background: url('../../assets/repairN.jpg');
		background-size: cover;
	}
	.service8{
		background: url('../../assets/gutter.jpg') 60%;
		background-size: cover;
	}
	.service9{
		background: url('../../assets/drainN.jpg');
		background-size: cover;
		@media (max-width: 770px){
			margin: 5px auto;
		}
	}
}


.repairs{
	position: relative;
	.repairP{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: url('../../assets/workers.jpg') 35%;
		background-size: cover;
		filter:grayscale(100%);
		opacity: 0.3;
		z-index: -1;
	}
}

.eaves{
	position: relative;
	.eavesP{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: url('../../assets/worker.jpg') 10%;
		background-size: cover;
		filter:grayscale(100%);
		opacity: 0.3;
		z-index: -1;
	}
}

.area .container .areas {
	display:flex;
	align-items: center;
	height:300px;
	@media (max-width:730px){
		height:auto;
		flex-wrap: wrap;
	}
	.areaL {
		height:100%;
		width:50%;
		display: flex;
		align-items: center;
		@media (max-width:730px){
			width:100%;
			height:50%;
		}
		ul li {
			padding: 5px 10px;
			border:1px solid $aBlue;
			margin: 5px;
			list-style: none;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
	}
	.areaR{
		height:auto;
		width:50%;
		@media (max-width:730px){
			width:100%;
			height:50%;
			min-height: 200px;
		}
		iframe {
			width:100%;
			// height:100%;
			display: block;
			pointer-events: none;
			position: relative;
			// top:-30px; 
			// border:none;
		}
		iframe.clicked{
			pointer-events: auto;
		}
	}
}

.hidden {
	display:none;
}

footer {
	padding: 10px 0;
	background-color: rgb(61,61,61);
	color:white;
	.container {
		display:flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width:700px){
			flex-direction: column;
			text-align: center;
		}
	}
	.fL{
		width:50%;
		max-width:400px;
		@media(max-width:700px){
			width:100%;
		}
		h4{
			font-size: 2rem;
		}
		p{
			font-size: 1.2rem;
		}
		#emailF{
			@media (max-width: 320px){
				overflow-wrap: break-word;
				word-wrap: break-word;
			}
		}
	}
	.fR {
		width:50%;
		@media(max-width:700px){
			width:100%;
		}
		input, textarea {
			padding:5px;
			margin: 5px 0;
			width:100%;
			border: 1px solid rgb(191,191,191);
		}
		textarea {
			resize: none;
			height:150px;
		}
		button{
			padding:5px;
			border: 1px solid rgb(191,191,191);
			width:120px;
			background: none;
			height:auto;
			color:white;
		}
	}
}

.construction {
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:10px;
	text-align: center;
	max-width: 800px;
	margin:0 auto;
	@media(max-width: 400px) {
		padding: 5px;
	}
	img {
		max-width: 300px;
		max-height: 300px;
		@media(max-width: 400px) {
			max-width: 250px;
			max-height: 250px;
		}
	}
	.cTitle{
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		color: rgb(61,61,61);
		padding: 10px 0;
		h1 {
			font-size: 3rem;
			@media(max-width: 400px) {
				font-size: 2rem;
			}
		}
		h2 {
			font-size: 1.6rem;
			margin:0;
			@media(max-width: 400px) {
				font-size: 1.2rem;
			}
		}
	}
	.cInfo {
		padding: 10px 0;
		p {
			margin: 5px;
		}
		p:nth-of-type(3){
			@media(max-width: 400px) {
				font-size: 1rem;
			}
		}
	}
}