article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px; }
  @media (max-width: 480px) {
    .container {
      padding: 0 5px; } }

h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

h2 {
  margin: 0 0 30px 0;
  font-size: 2.2rem;
  word-wrap: break-word; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

p {
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 1.2rem; }

section {
  padding: 30px 0; }

header {
  height: 100vh;
  width: 100%; }
  @media (max-width: 500px) {
    header {
      height: auto; } }

nav {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 100; }
  @media (max-width: 500px) {
    nav {
      position: relative;
      top: 0;
      left: 0;
      right: 0; } }
  nav .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 500px) {
      nav .container {
        padding: 0 20px;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center; } }
  nav img {
    width: 90px;
    height: 90px; }
    @media (max-width: 500px) {
      nav img {
        width: 100%;
        height: auto; } }
  nav a {
    text-decoration: none;
    color: black; }
  nav .contactNum {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 500px) {
      nav .contactNum {
        margin: 20px 0;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0); } }

.hamburg {
  position: relative; }

.hamburger {
  width: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0;
  border: none;
  background: transparent;
  position: relative; }
  @media (max-width: 500px) {
    .hamburger {
      display: inline-block; } }
  .hamburger div {
    border: solid 1px black;
    width: 30px;
    margin: 3px 0;
    border-radius: 50px; }

#hamItems {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000; }

#hamburgerItems {
  list-style: none;
  position: absolute;
  right: 0;
  z-index: 10001; }
  @media (max-width: 500px) {
    #hamburgerItems {
      left: -160px; } }
  @media (max-width: 360px) {
    #hamburgerItems {
      left: -85px; } }
  #hamburgerItems li {
    padding: 5px;
    border: 1px solid #e6e6e6;
    background: white;
    cursor: pointer;
    width: 350px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem; }
    @media (max-width: 360px) {
      #hamburgerItems li {
        width: 200px; } }
  #hamburgerItems li:hover {
    background: #f0f0f0; }
  #hamburgerItems li a {
    text-decoration: none;
    color: black;
    width: 116.16px; }

.hero {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  background: url("../../assets/tools.jpg");
  background-size: cover;
  text-align: center; }
  .hero h1 {
    font-size: 3.6rem;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .hero h2 {
    color: white;
    font-size: 1.6rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  @media (max-width: 500px) {
    .hero {
      display: none; } }

.quoteO {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1000; }

.quote {
  background: white;
  padding: 20px;
  width: 650px;
  max-height: 85vh;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  z-index: 1000; }
  @media (max-width: 680px) {
    .quote {
      width: 98%;
      max-height: 98vh; } }
  .quote h2 {
    line-height: 2rem;
    margin: 10px 0; }
  .quote .close {
    position: absolute;
    top: 2px;
    right: 19px;
    font-size: 30px;
    cursor: pointer; }
  .quote .close:hover {
    transform: scale(1.5); }
  .quote .qI, .quote form textarea {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #bfbfbf; }
  .quote .formServices {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center; }
  .quote .input {
    width: 20%; }
    @media (max-width: 680px) {
      .quote .input {
        width: 33.3%; } }
    @media (max-width: 430px) {
      .quote .input {
        width: 50%; } }
    @media (max-width: 300px) {
      .quote .input {
        width: 100%; } }
  .quote p {
    display: block; }
  .quote #other {
    width: 60%;
    border: 1px solid #bfbfbf;
    padding: 0 5px; }
    @media (max-width: 680px) {
      .quote #other {
        width: 66.6%; } }
    @media (max-width: 430px) {
      .quote #other {
        width: 50%; } }
    @media (max-width: 300px) {
      .quote #other {
        width: 100%;
        margin-top: 5px; } }
  .quote textarea {
    resize: none;
    width: 100%;
    height: 160px; }
  .quote button {
    padding: 5px;
    border: 1px solid #bfbfbf;
    width: 120px;
    background: none;
    height: auto; }

.freeQ {
  text-align: center; }
  .freeQ strong {
    font-size: 1.2rem; }
  .freeQ p {
    margin: 0 0 5px 0;
    font-size: 1.6rem; }

.fQuote {
  padding: 5px 10px;
  background: #006cb7;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: white; }

.fQuoteH {
  font-size: 2.4rem;
  box-shadow: none;
  padding: 25px 35px; }

.gBG {
  background: #f0f0f0; }

.about {
  position: relative; }
  .about .aboutP {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../assets/tool.jpg");
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.3;
    z-index: -1; }
  @media (max-width: 500px) {
    .about .aboutTitleN {
      display: none; } }
  .about .aboutTitleR {
    display: none; }
    @media (max-width: 500px) {
      .about .aboutTitleR {
        display: block; } }
  .about .aboutRP {
    font-size: 1.8rem;
    line-height: 1.8rem;
    display: none; }
    @media (max-width: 500px) {
      .about .aboutRP {
        display: block; } }

.aboutColumns {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 720px) {
    .aboutColumns {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }
  .aboutColumns .aboutC {
    width: 33.33%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 10px;
    margin: 5px;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    background: rgba(0, 108, 183, 0.8);
    color: white;
    border-radius: 5px; }
    @media (max-width: 720px) {
      .aboutColumns .aboutC {
        width: 60%; } }
    @media (max-width: 550px) {
      .aboutColumns .aboutC {
        width: 80%; } }
    @media (max-width: 400px) {
      .aboutColumns .aboutC {
        width: 100%; } }
  .aboutColumns p {
    margin: 10px 0; }
  .aboutColumns i {
    font-size: 2rem; }
  .aboutColumns div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 80%; }
  .aboutColumns .aboutTitle {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500; }

.services .container .servicesGrid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.services .container .service {
  position: relative;
  width: calc(33.33% - 10px);
  margin: 5px;
  min-height: 250px;
  height: auto;
  z-index: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media (max-width: 770px) {
    .services .container .service {
      width: calc(50% - 10px); } }
  @media (max-width: 570px) {
    .services .container .service {
      width: calc(100% - 10px); } }
  .services .container .service h3 {
    position: relative;
    bottom: -180px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
  .services .container .service .sO {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s ease-in-out;
    background: transparent;
    color: transparent;
    padding: 5px;
    text-align: center; }
    .services .container .service .sO p {
      font-size: 1.2rem;
      line-height: 1.4rem; }
  .services .container .service .sO:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white; }
  .services .container .service .sO:active {
    background: rgba(0, 0, 0, 0.7);
    color: white; }

.services .container .service1 {
  background: url("../../assets/alumSidingN.jpg");
  background-size: cover; }

.services .container .service2 {
  background: url("../../assets/window.jpg");
  background-size: cover; }

.services .container .service3 {
  background: url("../../assets/eavesN.jpg") 80%;
  background-size: cover; }

.services .container .service4 {
  background: url("../../assets/fasciaN.jpg");
  background-size: cover; }

.services .container .service5 {
  background: url("../../assets/soffitN.jpg") 80%;
  background-size: cover; }

.services .container .service6 {
  background: url("../../assets/vinylN.jpg") 60%;
  background-size: cover; }

.services .container .service7 {
  background: url("../../assets/repairN.jpg");
  background-size: cover; }

.services .container .service8 {
  background: url("../../assets/gutter.jpg") 60%;
  background-size: cover; }

.services .container .service9 {
  background: url("../../assets/drainN.jpg");
  background-size: cover; }
  @media (max-width: 770px) {
    .services .container .service9 {
      margin: 5px auto; } }

.repairs {
  position: relative; }
  .repairs .repairP {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../assets/workers.jpg") 35%;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.3;
    z-index: -1; }

.eaves {
  position: relative; }
  .eaves .eavesP {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../assets/worker.jpg") 10%;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.3;
    z-index: -1; }

.area .container .areas {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 300px; }
  @media (max-width: 730px) {
    .area .container .areas {
      height: auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .area .container .areas .areaL {
    height: 100%;
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 730px) {
      .area .container .areas .areaL {
        width: 100%;
        height: 50%; } }
    .area .container .areas .areaL ul li {
      padding: 5px 10px;
      border: 1px solid #006cb7;
      margin: 5px;
      list-style: none; }
    .area .container .areas .areaL ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
  .area .container .areas .areaR {
    height: auto;
    width: 50%; }
    @media (max-width: 730px) {
      .area .container .areas .areaR {
        width: 100%;
        height: 50%;
        min-height: 200px; } }
    .area .container .areas .areaR iframe {
      width: 100%;
      display: block;
      pointer-events: none;
      position: relative; }
    .area .container .areas .areaR iframe.clicked {
      pointer-events: auto; }

.hidden {
  display: none; }

footer {
  padding: 10px 0;
  background-color: #3d3d3d;
  color: white; }
  footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 700px) {
      footer .container {
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: center; } }
  footer .fL {
    width: 50%; }
    @media (max-width: 700px) {
      footer .fL {
        width: 100%; } }
    footer .fL h4 {
      font-size: 2rem; }
    footer .fL p {
      font-size: 1.2rem; }
    @media (max-width: 320px) {
      footer .fL #emailF {
        overflow-wrap: break-word;
        word-wrap: break-word; } }
  footer .fR {
    width: 50%; }
    @media (max-width: 700px) {
      footer .fR {
        width: 100%; } }
    footer .fR input, footer .fR textarea {
      padding: 5px;
      margin: 5px 0;
      width: 100%;
      border: 1px solid #bfbfbf; }
    footer .fR textarea {
      resize: none;
      height: 150px; }
    footer .fR button {
      padding: 5px;
      border: 1px solid #bfbfbf;
      width: 120px;
      background: none;
      height: auto;
      color: white; }
